In [2]:
    # These lines are comments
    # Initial setup from an online python notebook tutorial is below. 
    # Note the first line "%matplotlib inline" means plot appear in this page without a new opened window.
    # Two solutions 1. use: "%matplotlib notebook" graphs appear dynamic in the notebook.
    #               2. use: "%matplotlib" (only) graphs appear dynamic in separate window. 
    #    ( 2. is the best solution for detailed graphs/plots. )
    #inline 
    # -*- coding: utf-8 -*-
    
    %matplotlib qt5
    import pandas as pd
    import numpy as np
    import matplotlib as mpl
    import matplotlib.pyplot as plt
    from mpl_toolkits.mplot3d import Axes3D

    pd.set_option('html',False)
    pd.set_option('max_columns',30)
    pd.set_option('max_rows',10)


    # What follows is a copy of the 3D plot example code.
    # Data is randomly generated so there is no external data import.

    def randrange(n, vmin, vmax):
        return (vmax-vmin)*np.random.rand(n) + vmin

    fig = plt.figure()
    ax = fig.add_subplot(111, projection='3d')
    n = 100
    for c, m, zl, zh in [('r', 'o', -60, -25), ('b', '^', -30, -5)]:
        xs = randrange(n, 23, 50)
        #print ("xs:",xs)
        ys = randrange(n, 0, 100)
        #print ("ys:",ys)
        zs = randrange(n, zl, zh)
        #print ("zs:",zs)
        #print (c,m)
        ax.scatter(xs, ys, zs, c=c, marker=m)

    ax.set_xlabel('traffic')
    ax.set_ylabel('value')
    ax.set_zlabel('peroid')

    plt.show()

In [2]:
%matplotlib qt5
import pylab as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

my_data = np.random.rand(6500,3)  # toy 3D points

fig = plt.figure()
ax = Axes3D(plt.gcf())
ax.scatter(my_data[:,0],my_data[:,1],my_data[:,2])
plt.show()

In [53]:
import csv

#with open('macro.csv', encoding='utf-8') as csvfile:
#    csv_reader = csv.reader(csvfile, delimiter=',')

csv_reader = csv.reader(open('macro.csv', encoding='utf-8'))
#for row in csv_reader:
#    print(row)

In [37]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
#print(check_output(["dir", "../sberbank housing prediction"],shell=True))   #print(check_output(["ls", "../input"]).decode("utf8"))  适用于 POSIX-conforming systems
#os.listdir()
print(os.listdir())
macro=pd.read_csv('macro.csv',parse_dates=['timestamp'])
sample_submission=pd.read_csv('sample_submission.csv')
test=pd.read_csv('test.csv',parse_dates=['timestamp'])
train=pd.read_csv('train.csv',parse_dates=['timestamp'])

['.ipynb_checkpoints', 'dataexplorer.ipynb', 'data_dictionary.txt', 'macro.csv', 'macro.csv.zip', 'run_at_here.bat', 'sample_submission.csv', 'sample_submission.csv.zip', 'test.csv', 'test.csv.zip', 'train.csv', 'train.csv.zip', '__MACOSX']

In [54]:
print(train.shape)
train.columns
train.state.unique()
train.dtypes
macro.dtypes
macro.shape
macro.head(5)

(30471, 292)

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN